<nav>
  <div class="site-title">
    <a href="/"><h1>AM Blog</h1></a>
    <p>My cool Blog!</p>
  </div>
  <ul>
    <% if(user){ %>
    <li>Welcome, <%= user.email %></li>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a href="/logout">Log out</a></li>
    <% }else{ %>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/login">Log in</a></li>
    <li><a href="/register" class="btn">Register</a></li>
    <% } %>
  </ul>
</nav>
